.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;   
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../img/menuaberto.svg");
}

.container__botao:checked~.container__rotulo{
    background: var(--vermelho-degrade);
    padding: .5em 0;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__texto{
    display:none
}

.usuario{
    height: 54px;
    width: 54px;
}
.logo{
    height: 38px;
    width: 35px;
}

.like{
    height: 51px;
    width: 48px;

}

.sacola{
    height: 54px;
    width: 48px;
}

.container_imagem{
    padding: 1em 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display:block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color:var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display:none;
}

.logo__maior{
    display: none;
}

.container__titulo{
    display: none;
}

.opcao{
    display: none;
}

@media screen and (min-width: 1024px){

    .container__titulo,
    .container__titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }


    .logo__maior{
        height: 90px;
        width: 95px;
        display: block;
        margin-left: 1em;
    }

    .sacola{
        height: 70px;
        width: 70px;
    }

    .usuario{
        height: 80px;
        width: 80px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
        padding: 0 0.7em;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .opcao{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        
    }

    .opcao__item{
        padding: 3em 2em;
        text-transform: uppercase;

    }

    .opcao__link{
        text-decoration: none;
        color: var(--preto);
    }

    .like{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .logo{
        display: none;
    }

    .opcao__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcao__botao{
        display: none;
    }

    .opcao__botao:checked ~.opcao__rotulo>.opcao__item{
        background: var(--vermelho-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover{
        background: var(--vermelho-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color:var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width:1728px){

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto{
        display: block;
        font-size: 24px;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
    }

    .cabecalho{
        padding: 0 2em;

    }

    .opcao{
        margin-right: auto;
    }
}
